* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-weight: 100;
}

body {
  overflow: hidden;
}

.window {
  width: fit-content;
  height: fit-content;
}

.hidden {
  display: none !important;
}

#area {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  border: white 2px solid;
  box-sizing: border-box;
  opacity: 0.2;
}

#pos {
  padding: 0.5rem;
  position: absolute;
  color: white;
}

#shortcut-config {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #3356;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
}

#scan-shortcut {
  width: 80vw;
  height: 2rem;
  padding-left: 0.5rem;
  background-color: #223;
  border: 2px solid #88c;
  color: #88c;
  display: flex;
  align-items: center;
}

#scan-shortcut:hover {
  cursor: pointer;
}

#scan-shortcut:focus {
  background-color: #446;
}

#shortcut-config-title {
  text-align: center;
  font-size: 1.75rem;
  color: #88c;
  pointer-events: none;
}

#shortcut-close-btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #446;
  color: #88c;
  font-size: 14px;
}

#shortcut-close-btn:hover {
  transition: background-color 0.5s;
  background-color: #557;
  cursor: pointer;
}

#shortcut-error {
  width: fit-content;
  color: red;
}

.error {
  border-color: red;
}

#shortcut-field {
  width: fit-content;
}
